# .env.example

# Environment Name
NODE_ENV=development

# Server listen to this port
PORT=3000

#Cors
CORS_URL=*

# Databse 
DB_NAME=YOUR_MONGO_DB_NAME
#localhost or IP of the server
DB_HOST=YOUR_MONGO_DB_HOST_NAME
DB_PORT=27017
DB_USER=YOUR_MONGO_DB_USER_NAME
DB_PWD=YOUR_MONGO_DB_USER_PWD

#Log
#Example '/Users/janisharali/logs'
#DEFAUlT is this project's directory
LOG_DIR=YOUR_DIRECTORY_PATH_FOR_LOG_FILES 

# Token Info
ACCESS_TOKEN_VALIDITY_DAYS=30
REFRESH_TOKEN_VALIDITY_DAYS=120
TOKEN_ISSUER=afteracademy.com
TOKEN_AUDIENCE=afteracademy_users