# Add any directories, files, or patterns you don't want to be tracked by version control
.idea

# ignore vs code project config files
.vs

# ignore logs
logs
*.log

# ignore 3rd party lib
node_modules

# ignore key
*.pem

# Ignore built files
build

# ignore test converage
coverage

# Environment varibles
*.env
*.env.test
*.env copy

#keys
keys/*
!keys/*.md
!keys/*.example

#temp
temp
.DS_Store

*.save
*.save.*