# .test.env.example
# This set the envionment variable for the test environment
# Environment Name
NODE_ENV=test

# TimeZone
TZ=UTC

# Server listen to this port
PORT=3001

#Cors
CORS_URL=*

# Databse 
# YOUR_TEST_MONGO_DB_NAME
DB_NAME=blogs-test-db
DB_MIN_POOL_SIZE=2
DB_MAX_POOL_SIZE=5

#localhost or IP of the server
# YOUR_TEST_MONGO_DB_HOST_NAME 
DB_HOST=localhost
# DB_HOST=mongo

DB_PORT=27017

# YOUR_TEST_MONGO_DB_USER_NAME
DB_USER=blogs-test-db-user

# YOUR_TEST_MONGO_DB_USER_PWD
DB_USER_PWD=changeit

# Redis 
REDIS_HOST=localhost
# REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=changeit

# Log
# Example '/home/node/logs'
# DEFAUlT is this project's directory
# LOG_DIR=YOUR_TEST_DIRECTORY_PATH_FOR_LOG_FILES 

# Token Info
# 2 DAYS: 172800 Sec
ACCESS_TOKEN_VALIDITY_SEC=172800
# 7 DAYS: 604800 Sec
REFRESH_TOKEN_VALIDITY_SEC=604800
TOKEN_ISSUER=api.dev.xyz.com
TOKEN_AUDIENCE=xyz.com

# Caching
CONTENT_CACHE_DURATION_MILLIS=5000